.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px black solid;
  padding: 10px;
  padding-left: 25px;
  background-color: white;
  align-items: center;
}

.logo {
  font-size: 28px;
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: bold;
  color: black;
  background-color: red;
  height: 50px;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-login {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
